*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
body{
    background: #2e475f8c;
}
section{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
section .side-bar{
    width: 25%;
    background-color: #fff;
    border-radius: 10px;
}
section .content{
    width: 72%;
    background-color: #fff;
    border-radius: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  
  
  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #fff;
  }
#cart-bh {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 3px;
    cursor: pointer;
}
.btn-cart{
   
        background: #f1df11;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
    

}

.btn{
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 9px 25px;
    margin: 1em 13px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all .2s ease-in-out;
}
.btb{
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 9px 77px;
    margin: 1em 13px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all .2s ease-in-out;
}
.btnn{
    padding: 15px 30px;
    color: #172856;
    background-color: #fcc83f;
    border: 2px solid #fcc83f;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.btnn:hover{
    background-color: transparent;
    color: #fcc83f;
}

.titile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9eaf0;
}
.titile h4{
    color: #172856;
    text-transform: uppercase;
    padding: 15px 20px;
}
.titile a{
    margin-right: 20px;
    color: #ffa741;
    font-weight: bold;
}
.titile a:hover{
    text-decoration: underline;
}

.all-items{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.all-items .item{
    width: 22%;
}
.item .div-img{
    border-bottom: 2px solid #e9eaf0;
}
.item .div-img img{
    width: 100%;
}
.item .div-text h4{
    margin: 9px 30px;
}
.item .div-text h4 a{
    color: #172856;
}
.item .div-text p{
    color: #999;
    font-size: 14px;
    margin: 8px 11px;

}
.light{
    margin: 9px 86px;
    color:#fcc83f ;
}
.stars{
    margin: 9px 40px;
}
.item .div-text .stars i{
    color: #fcc83f;
}
.item .div-text .price{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.item .div-text .price .abyss{
    color: #e80030;
    cursor: pointer;
    font-weight: bold;
    padding: 1px 96px;
}
.item .div-text .price span{
    color: #e80030;
    cursor: pointer;
    font-weight: bold;
    padding: 1px 55px;
}
del{
    text-decoration: line-through;
    font-style: italic;
    color: #999;
    padding: 1px 55px;
}
.bright{
    text-decoration: line-through;
    font-style: italic;
    color: #999;
    padding: 1px 94px;
}







header{
    background-color: #3fa0fc;
    margin-bottom: 30px;

}
header nav{
    width: 85%;
    margin: 0 auto;
}
header nav .logo-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #99999978;
}
header nav .logo-search .logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
header nav .logo-search .logo span{
    color: #fccb3f;
}
header nav .logo-search .search-box{
    width: 500px;
    height: 40px;
    position: relative;
}
header nav .logo-search .search-box input{
    width: 100%;
    height: 100%;
    padding: 0 50px 0 12px;
    border-radius: 30px;
    outline: none;
    border: none;
}
header nav .logo-search .search-box i{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid #99999978;
    cursor: pointer;
    color: #172856;
}
header nav .logo-search .icon a{
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}
header nav .logo-search .icon a:hover{
    color: #fccb3f;
}
header nav ul li{
    display: inline-block;
    padding: 18px 0;
    margin-right: 50px;
    position: relative;
}
header nav ul li a{
    color: #fff;
    text-transform: capitalize;
}
header nav ul li::after{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 10px;
    background-color: #e9eaf0;
    clip-path: polygon(50% 40%, 0 100% , 100% 100%);
}
header nav ul li:hover::after,
header nav ul li.active::after{
    width: 12px;
}



.hero .side-bar{
    overflow: hidden;
}
.hero .side-bar h4{
    padding: 20px;
    background-color: #ffa741;
    color: #172856;
    font-size: 18px;
}
.hero .side-bar i{
    margin-right: 10px;
}
.hero .side-bar ul li{
    padding: 17px 20px;
    color: #172856;
    border-bottom: 1px solid #e9eaf0;
    cursor: pointer;

}
.hero .side-bar ul li:hover{
    background-color: #fccb3f;
}
.hero .side-bar ul li a{
    color: #172856;
}

.hero .content{
    background: linear-gradient(#0000007c, #0000007c), url('https://vnpomade.com/upload/news/vnpomade-20210322060844n.jpg');
    background-size: cover;
    position: relative;
}
.hero .content .div-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
}
.hero .content .div-text span{
    color: #ffa741;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.hero .content .div-text h1{
    color: #fff;
    font-size: 40px;
    margin: 15px 0 ;
    text-transform: uppercase;
}
.hero .content .div-text p{
    color: #e9eaf0;
    margin-bottom: 50px;
}



.sec-2 .side-bar .item{
    padding: 20px;
}
.sec-2 .side-bar .item .div-text h4{
    margin-bottom: 18px;
}

/* sec-3 */
.sec-3{
    align-items: flex-start;
}
.sec-3 .side-bar .boxs{
    padding: 15px 20px;
}
.sec-3 .side-bar .boxs .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e9eaf0;
}
.sec-3 .side-bar .boxs .box img{
    width: 100px;
}
.sec-3 .side-bar .boxs .box .div-text h4{
    color: #172856;
}
.sec-3 .side-bar .boxs .box .div-text .stars{
    margin: 9px 35px;
}
.sec-3 .side-bar .boxs .box .div-text .stars i{
    color: #fcc83f;
}
.sec-3 .side-bar .boxs .box .div-text span{
    color: #e80030;
    font-weight: bold;
    padding: 1px 45px;
}

.sec-3 .content{
    background-color: #e9eaf0;
}
.sec-3 .content .bg-sec{
    height: 250px;
    background: linear-gradient(#00000041, #00000041),url('https://misskick.vn/wp-content/uploads/2023/02/cach-phoi-do-voi-ao-thun-nam-form-rong-sieu-dep-va-chat-lu-thumbnail.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.sec-3 .content .bg-sec .div-text h1{
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 35px;
}
.sec-3 .content .bg-sec .div-text p{
    color: #e9eaf0;
    font-size: 18px;
    margin-bottom: 40px;
}
.sec-3 .all-items{
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 36px;
}



.footer{
    background-color: #5aac49;
}
.footer .contanier{
    padding: 30px 0;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #999;
}
.footer .contanier .row{
    width: 22%;
}
.footer .contanier .row h3{
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer .contanier .row span{
    color: #fcc83f;
}
.footer .contanier .row p{
    color: #e9eaf0;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer .contanier .row .social-links a{
    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}
.footer .contanier .row .social-links a:hover{
    color: #fcc83f;
}
.footer .contanier .row ul li{
    list-style: none;
    margin-bottom: 15px;
    color: #e9eaf0;
}
.footer .contanier .row ul li a{
    color: #e9eaf0;
}
.footer .contanier .row ul li a:hover{
    text-decoration: underline;
    color: #fcc83f;
}
.footer .contanier .row .payment-img img{
    width: 50px;
    cursor: pointer;
}
.footer .copy-right{
    padding: 20px 0;
    text-align: center;
}
.footer .copy-right p{
    color: #fff;
}
.footer .copy-right p span{
    color: #fcc83f;
    cursor: pointer;
}
a,.dropbtn {
    display: inline-block;
    color: #ffff;
    text-align: center;
    
}
li.dropdown {
    display: inline-block;
}

.dropdown-content  {
    text-transform: none;
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #a93ffc52;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}
 
.dropdown-content   a {
    text-transform: none;
    color: #00e8a8;
    border-radius: 5px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content  a:hover{background-color: #e9eaf0;}
.dropdown:hover  .dropdown-content {
    display: block;
}

a,.cart-bot {
    display: inline-block;
    color: #ffff;
    text-align: center;
    
}
li.cart-top {
    display: inline-block;
}

.cart-bottom  {
    text-transform: none;
    border: 1px solid;
    width: 330px;
    padding: 25px 25px 35px;
    right: 0;
    margin-top: 10px;
    transition: .4s;
    overflow: auto;
    height: 465px;
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color:#99999998 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}
 
.cart-bottom   a {
    text-transform: none;
    color: #00e8a8;
    border-radius: 5px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.cart-bottom  a:hover{background-color: #e9eaf0;}
.cart-top:hover  .cart-bottom {
    display: block;
}
.cartTopRightQuantity {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: #ededed;
    border: 1px solid #ededed;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    margin-left: 3px;
    font-size: 13px;
    color: #444;
    cursor: pointer;
    transition: .4s;
    position: relative;
}

/* cart */
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }


